/* VARIABLES */
$mainColor: rgb(168, 127, 244);
$movieBackColor: rgb(207, 181, 255);
$resultColor: rgb(90, 1, 255);
$button: antiquewhite;
$buttonHover: rgb(255, 229, 83);
$tabletWidth: 1200px;
$mobileWidth: 800px;
$pcWidth: 1300px;
/* MEDIAQUERY */
@mixin tablet {
  @media (max-width: $tabletWidth) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: $mobileWidth) {
    @content;
  }
}

@keyframes colorChange {
  0% {
    color: rgb(90, 1, 255);
  }
  50% {
    color: rgb(168, 127, 244);
  }
  100% {
    color: rgb(207, 181, 255);
  }
}

@keyframes move {
  0% {
    margin-left: -500px;
    opacity: 0;
  }
  100% {
    margin-left: 0;
    opacity: 1;
  }
}

@keyframes oppositeMove {
  0% {
    margin-right: -500px;
    opacity: 0;
  }
  100% {
    margin-right: 0;
    opacity: 1;
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
